_auth="YWRyaWFuaXlAZXh0LmluZGl0ZXguY29tOkFLQ3A4aWk5NW1SdlVWUkppY1lpeU41Y2VtSDNRZWhRaU1oYmNDRE5tY2pFS3BvMjJTaUc0c2o4MUZVbW5XTEJzWVRSV1c1V24="
always-auth=true
email=username@inditex.com
registry=https://inditex.jfrog.io/inditex/api/npm/node-public
